
<div class="container">
    <div class="jumbotron bg-warning">
        <div class= "d-flex flex-column  justify-content-center">
            <p class = "display-1 text-xl-center ">Bé tập tính</p>
        </div>
    </div>

    <form action="/" method="post">
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6 class = "text-info">Số thứ nhất	</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <input class = "form-control" name="expr"  type="text" value={{s1}} >

            </div>
            <div class="col-md-4 col-sm-6" name="congTru">
                <label class="custom-control custom-radio">
                    <input type="radio"  value="cong" name="phepToan" class="custom-control-input" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description text-info">Cộng</span>
                </label>
                <label class="custom-control custom-radio">
                <input type="radio"  value="tru" name="phepToan" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description text-info">Trừ</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6 class = "text-info">Số thứ hai	</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <input class = "form-control" name="expr1" type="text" value={{s2}}>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <label class="custom-control custom-radio">
                    <input type="radio"  value="nhan" name="phepToan" class="custom-control-input" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description text-info">Nhân</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio"  value="chia" name="phepToan" class="custom-control-input" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description text-info">Chia</span>
                </label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6 class="text-success">Kết quả</h6>
            </div>
            <div class="col-md-4 col-sm-6">
                <input type="text" class = "form-control" id="ketqua" value={{kq}} >
            </div>
            <div class="col-md-4 col-sm-6">
                <input type="submit" value ="Tính"  class="btn btn-primary "  >
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h6 class="text-warning">Thông báo</h6>
            </div>
            <div class="col-md-8 col-sm-6 text-danger">
                {{#if loiPhepTinh}}
                {{else}}
                    <h5>{{thongBao}}</h5>
                {{/if}}

                {{#if loi1}}
                {{else}}
                    <h5>{{loiSo1}}</h5>
                {{/if}}

                {{#if loi2}}
                {{else}}
                    <h5>{{loiSo2}}</h5>
                {{/if}}
            </div>
        </div>

    </form>
    <footer class="pt-4 my-md-5 pt-md-5 border-top d-flex justify-content-center">
        <div id="author">
            <p>© Design and implement by&nbsp;
                <a href="https://www.facebook.com/quangtuansieungo">Quang Tuấn</a>
            </p>
        </div>
    </footer>
</div>